---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: TopLevelDefinitions
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: None
ReflowComments: true
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^".*\.h"'
    Priority: 2
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true
AlignAfterOpenBracket: Align
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
